@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --google-blue: #4285F4;
    --google-green: #0F9D58;
    --google-yellow: #F4B400;
    --google-red: #DB4437;
}

.enroll {
    margin-right: 20px;
}

.logo {
    margin-right: 100px;
}

.descricao {
    padding: 0 60px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.cta {
    background-color: var(--google-blue);
    max-width: 50%;
    padding: 20px 0;
}

.cta-link {
    color: var(--google-blue)
}

.apresentacao {
    margin-top: auto;
}

.primary-title {
    margin-bottom: 50px;
}



.mit {
    margin: 10px;
}

.parceria { 
    display: flex;
    text-align: center;
    align-items: center;
}

.parceria p {
    text-align: left;
    margin-left: 10px;
}

.benefit {
    width: 50%;
    padding-bottom: 20px;

}

#benefit-time {
    color: var(--google-green);
    border-bottom: 5px solid var(--google-green);
}

#benefit-online {
    color: var(--google-blue);
    border-bottom: 5px solid var(--google-blue);
}



.bold {
    font-weight: 400;
}

.check {
    width: 15px;
}

.icones {
    width: 150px;
}

.beneficios li {
    vertical-align: middle;
    justify-content: center;
}

.about {
    justify-content: center;
    text-align: center;
    background-color: rgb(231, 231, 231);
    padding: 100px 0;
}

.card-body {
    align-items: center;
    justify-content: center;    
    display: flex;
    flex-direction: row;

}

.ul-no-style {
    list-style: none;
}

.card {
    padding: 1;
}

.card-about {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.card #c1 {
    text-align: left;
}
  

  .sticky {
    position: fixed;
    top: 0;
    margin-right: 50%;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#sobre-mim img {
    height: 50%;
    width: 50%;
    display: block;
    margin: 0 auto;
}
.comment {
    margin-bottom: 20px;
}

.comment .card-body {
    align-items: center;
    justify-content: center;    
    display: block;
    flex-direction: row;
    min-height: 0px;
}

.comment .card-title {
    font-size: 1.5em;
}

.navbar {
    padding-left: 30px;
    margin-bottom: 0;
  }
  
  .main-content {
    height: calc(90vh - 56px);
    display: flex;
    align-items: center;
  }
  
  .display-4 {
    font-size: 3rem;
    font-weight: 700;
  }
  
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  
  @media (max-width: 768px) {
    .display-4 {
      font-size: 2rem;
    }
  
    .text-right {
      text-align: left !important;
    }
  
    .text-left {
      text-align: center !important;
    }
  
    .main-content .col-md-6 {
      padding: 20px;
    }
  }

  @media (max-width: 700px ) {

    .copy-image {
        height: 200px;
    }

  }

  img.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
img.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

#typing-animation {
    border-right: 2px solid;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
  }

.copy-image {
    margin-left: 10%;
}

h3 {
    font-size: 5em;
}


.curso-google h1 {
    font-size: 4rem;
    text-align: center;
    top: 50%;
}
.curso-google .col-md-6:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ul-no-style {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.icones {
    width: 3rem;
    height: 3rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%
    
}
.row.align-items-center {
    display: flex;
    align-items: stretch; 
}

.woman {
    text-align: right;
    margin: auto;
}

#primeiro-card .card {
    background-color: #4286f487; /* Cor de fundo vermelho claro */
}
#segundo-card .card {
    background-color: #db45379f; /* Cor de fundo verde claro */
}
#terceiro-card .card {
    background-color: #f4b300a3; /* Cor de fundo azul claro */
}
#quarto-card .card {
    background-color: #0f9d589d; /* Cor de fundo amarelo claro */
}

.list-benefits {
    list-style: none;
}

.list-benefits li { 
    font-size: large;
    display: flex;
    margin-bottom: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.roboto {
    font-family: "Roboto", sans-serif !important;

}

.check {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}